# Application environment (e.g., local, development, production)
APP_ENV=local

# Database configuration
DB_TYPE=postgresql
DB_USER=sandbox
DB_PASS=sandbox
DB_NAME=sandbox_db
DB_PORT=5432

# Use the service name 'postgres' as the host when connecting from within the Docker network
# It is used by application and "make migrate" command in Makefile
DB_URL=postgresql+psycopg2://sandbox:sandbox@postgres:5432/sandbox_db
ASYNC_DB_URL=postgresql+asyncpg://sandbox:sandbox@postgres:5432/sandbox_db

# Use DATABASE_URL_LOCAL for local development (outside of Docker)
DATABASE_URL_LOCAL=postgresql+asyncpg://sandbox:sandbox@localhost:5432/sandbox_db
DATABASE_URL_LOCAL_SYNC=postgresql+psycopg2://sandbox:sandbox@localhost:5432/sandbox_db

# Temporal
TEMPORAL_HOST=temporal:7233
TEMPORAL_HOST_LOCAL=localhost:7233
TEMPORAL_PORT=7233
TEMPORAL_UI_PORT=8080
TEMPORAL_NAMESPACE=default

# Linux only. Mac/Windows can use the default UID/GID values (comment out the lines below).
# Resolves permission issues when running Docker containers on Linux by matching the host user's UID and GID.
UID=1000
GID=1000